.about-container {
  max-width: 700px;
  margin: auto;
  padding: 4rem;
  background-color: #1d1e1e;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
}

.intro h2 {
  color: #61dafb;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.intro p {
  line-height: 1.7;
  color: #cccccc;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem 0;
}

.skill-item {
  color: #ffffff;
  background-color: #333;
  border: 1px solid #61dafb;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.skill-item svg {
  margin-right: 8px;
}

.education-item {
  border-bottom: 2px solid #61dafb;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.education-item h4 {
  color: #ccc;
  font-size: 1.5rem;
}

.education-item p {
  color: #999;
  font-size: 1.1rem;
}

/* Media query for responsiveness */
@media only screen and (max-width: 600px) {
  .about-container {
    padding: 1.5rem;
  }
  
  .skill-item {
    font-size: 1rem;
    padding: 8px 16px;
  }
}
