/* src/Projects.css */

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px;
  background: linear-gradient(to right, #2e2e2e20, #383838); /* Dark gradient background */
  padding: 30px; /* Add some padding */
  border-radius: 20px; /* Round the corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.projects-container a {
  text-decoration: none;
  color: #ffffff; /* White text */
}

.proj h2 {
  margin-left: 25px;
  color: #ccc;
  font-family: 'Roboto', sans-serif; /* Futuristic font */
}

.project-card {
  padding: 20px;
  background-color: #232323; /* Dark background */
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative; /* Position for pseudo-elements */
  overflow: hidden; /* Hide overflowing content */
}

.project-card p{
  color: #ccc; /* White text */
  
}

.project-card:hover {
  transform: translateY(-5px) scale(1.02); /* Scale on hover for depth */
}

.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Transition for image */
}

.project-card:hover img {
  transform: scale(1.1); /* Scale image on hover */
}

/* Pseudo-element for overlay */
.project-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  opacity: 0;
  transition: opacity 0.3s ease; /* Transition for overlay */
}

.project-card:hover::before {
  opacity: 1; /* Show overlay on hover */
}

@media (max-width: 768px) {
  .projects-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
