.sidenav {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #1c1b23;
  padding-top: 60px;
  transition: 0.5s ease;
  z-index: 1;
  border-radius: 0 10px 10px 0;
}

.sidenav.open {
  left: 0;
}

.toggle-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 2;
  font-size: 24px;
  color: #fff;
  background-color: #8b8a912b;
  border-radius: 5px;
  padding: 8px 5px 1px;
  transition: transform 0.3s ease;
}

.toggle-btn.open {
  transform: rotate(180deg);
}

nav {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  color: #8B8A91;
  transition: background-color 0.3s ease;
}

.sidebar-item:hover {
  background-color: #ffffff52;
  border-radius: 5px;
}

.sidebar-item span {
  margin-left: 10px;
}

.sidebar-item span a {
  text-decoration: none;
  color: #8B8A91;
  transition: color 0.3s ease;
}

.sidebar-item span a:hover {
  color: #ffffff;
}

.social-icons h2 {
  color: whitesmoke;
}

.social-icons {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  color: tomato;
}

.social-icons a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8B8A91;
  margin-bottom: 10px;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.social-icons a:hover {
  color: #ffffff;
}

.ic {
  margin-right: 12px;
  font-size: 16px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidenav {
    width: 80%;
    left: -80%;
  }

  .sidenav.open {
    left: 0;
  }

  .toggle-btn {
    display: block;
  }
}

@media (min-width: 769px) {
  .sidenav {
    left: 0;
    width: 250px;
    border-radius: 0;
  }

  .toggle-btn {
    display: none;
  }
}
