/* SideNav.css */
.sidenav {
  position: fixed;
  /* top: 0; */
  /* bottom: 30; */
  width: 250px;
  height: 100%;
  background-color: #1c1b23;
  padding-top: 60px;
  transition: 0.5s;
  z-index: 1;
  border-radius: 10px;  
}


.sidenav.open {
  left: 0;
}

.toggle-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 2;
  font-size: 24px;
  color: #fff;
  background-color: #8b8a912b;
  border-radius: 5px;
  padding: 8px 5px 1px;
}

nav {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  color: #8B8A91;
  
}



.sidebar-item:hover {
  background-color: #ffffff52;
  border-radius: 5px;
}

.sidebar-item span {
  margin-left: 10px;
  
}

.sidebar-item span a{
  text-decoration: none;
  color: #8B8A91;
}

.social-icons h2{
  color: whitesmoke;
}

.social-icons {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  color: tomato;
}

.social-icons a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8B8A91; /* Default color for the text */
  margin-bottom: 10px; /* Adjust the margin between icons */
  transition: color 0.3s; /* Add a smooth color transition */
  font-size: 1rem;
  
}

.social-icons a:hover {
  color: #ffffff; /* Change color on hover */
}

.ic {
  margin-right: 12px; /* Adjust the spacing between icon and text */
  font-size: 16px;
  
}

/* Responsive Styles */
@media (max-width: 600px) {
  .social-icons {
    flex-direction: column; /* Change to row layout on smaller screens */
  }

  .social-icons a {
    margin-right: 10px; /* Adjust the margin between icons in row layout */
    margin-bottom: 0; /* Remove margin in row layout */
  }
}


/* Responsive CSS */
@media (max-width: 768px) {
  .sidenav {
    width: 100%;
    left: -100%; /* Initially hidden on small screens */

  }


  .toggle-btn {
    position: fixed;
    top: 20px;
    left: 10px;
    cursor: pointer;
    z-index: 2;
    font-size: 24px;
    color: #ffffff;
    /* display: none;
    margin-bottom: 20px; */
  }

  .sidenav.open {
    left: 0;
  }
}


@media (min-width: 768px) {
  .toggle-btn {
    position: fixed;
    top: 20px;
    left: 15px;
    cursor: pointer;
    z-index: 2;
    font-size: 24px;
    color: #000000;
    display: none;
  }
}