/* Skills.css */
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 1.3rem;
}

.skillbase h2 {
  color: #ccc;
  margin-left: 30px;
}

.skills-card h3 {
  color: #61dafb;
  margin-bottom: 15px;
}

.skills-card {
  background-color: #1c1b23;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.skills-card:hover {
  transform: translateY(-10px);
}

.skills-card ul {
  list-style-type: none;
  padding: 0;
}

.skills-card li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  color: #ccc;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.skills-card li svg {
  position: absolute;
  left: 0;
  font-size: 1.5rem;
  color: #61dafb;
}

.skills-card li:hover svg {
  color: #ffffff;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
  .skills-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .skills-card {
    padding: 15px;
  }

  .skills-card h3 {
    font-size: 1.2rem;
  }

  .skills-card li {
    font-size: 1rem;
  }
}
