/* AboutMe.css */
.about-me-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .icon-container {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    margin-top: 20px;
  }

  .icon{
    max-width: 64px;
    transition: transform 0.3s ease;
    padding-bottom: 0.5rem;
    
  }

  .icon:hover{
    transform: translateY(-5px);
  }
  
  /* Add responsive styles for different screen sizes */
  @media (max-width: 600px) {
    .about-me-container {
      padding: 10px;
    }
  
    .icon-container {
      /* flex-direction: column; */
      align-items: center;
    }
    .icon{
        max-width: 32px;
    }
  }
  
  /* GitHubProjects.css */

.projects-git {
    padding: 50px 0;
    background-color: #f5f5f5;
  }
  
  .container-git {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    
  }
  
  .projectItem {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .projectItem img {
    max-width: 100%;
    border-bottom: 3px solid #000000;
  }
  
  .projectItem h3 {
    margin-top: 10px;
  }
  
  .projectItem p {
    color: #555;
  }
  
  .projectItem a {
    display: block;
    margin-top: 15px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
  }

  .repo {
    display: flex;
    align-items: center;
  }

  .repo img{
    max-width: 14px;
  }
  
  .repo span {
    margin-right: 8px; /* Adjust the spacing between text and image */
  }
  
  .projectItem a:hover {
    text-decoration: underline;
  }
  