.blogs-section {
  max-width: 800px;
  margin: auto;
  padding: 4rem;
  background-color: #1d1e1e;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  
}

.section-title {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 10px;
}

.section-description {
  font-size: 1.2rem;
  color: #7f8c8d;
  margin-bottom: 40px;
}

.blog-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.blog-card {
  background: #2a2a2a;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.blog-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.blog-icon {
  margin-bottom: 20px;
}

.blog-name {
  font-size: 1.5rem;
  color: #34495e;
  margin-bottom: 10px;
}

.blog-description {
  font-size: 1rem;
  color: #7f8c8d;
  margin-bottom: 20px;
}

.blog-link {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  background: #3498db;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  transition: background 0.3s;
}

.blog-link:hover {
  background: #2980b9;
}

/* Responsive design */
@media (max-width: 768px) {
  .blog-card {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 2rem;
  }

  .section-description {
    font-size: 1rem;
  }
}
